/* line 4, ../sass/style.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 8, ../sass/style.scss */
.handsome-jump {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 15, ../sass/style.scss */
.center {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 19, ../sass/style.scss */
.circle {
  position: absolute;
  width: 200%;
}

/* line 23, ../sass/style.scss */
.circle-inner {
  position: absolute;
  background-color: #FFF;
  border: 1px solid #CCC;
  height: -webkit-calc(100% - 250px);
  border-radius: 50%;
  width: -webkit-calc(100% - 250px);
}

/* line 32, ../sass/style.scss */
.handsome-jump ul.connected {
  width: 100%;
  height: 100%;
  margin: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
}

/* line 44, ../sass/style.scss */
.handsome-jump ul.connected > li {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-repeat: no-repeat;
  margin: 25px;
}
/* line 50, ../sass/style.scss */
.handsome-jump ul.connected > li.avator {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 2px #000;
  box-shadow: 0px 0px 15px 2px #000;
}
